body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  height: 100%;
  width:100%;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(53, 150, 202);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.col-sm-8 {
  padding: 0px
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: orangered;
  color: whitesmoke;
}

.present {
  background-color: goldenrod;
  color: black;
}

.future {
  background-color: yellowgreen;
  color: white;
}

.saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(53, 150, 202);
  color: white;
  height: 100%;
  width:100%;
}

.saveButton i:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}